# user_service variables
USER_DATABASE_URL="file:../data/user.db"
JWT_SECRET="daniel1"
NODE_ENV="production"
INTERNAL_KEY="dj"

# game_service variables
GAME_DATABASE_URL="file:../data/game.db"

# googleAuth variables
GOOGLE_CLIENT_ID=341612200177-d9uls69p5itl1in6b0i9di5ogj750478.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=https://localhost:4433/auth/google/callback
FASTIFY_SECURE_SECRET=96e86052a27b52b634bba5415dcf80909d4c0d14a7e44826ccb4762ac4f4b656
SENDGRID_API_KEY=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
REDIRECT_URL=https://localhost:4433
THE_BOYS=transcendencetheboys@gmail.com
NODE_ENV="production"

# Password for the 'elastic' user (at least 6 characters)
ELASTIC_USERNAME=elastic
ELASTIC_PASSWORD=changeme
ELASTIC_HOSTS=es-es01-1
# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_PASSWORD=changeme
# Version of Elastic products
STACK_VERSION=8.17.4
# Set the cluster name
CLUSTER_NAME=docker-cluster
# Set to 'basic' or 'trial' to automatically start the 30-day trial
LICENSE=basic
# Port to expose Elasticsearch HTTP API to the host
ES_PORT=9200

KIBANA_PORT=5601

